*{
    margin: 0;
    padding: 0;
    font-family:  arial, sans-serif;
}
body {
    box-sizing: border-box;
    background-image: url(./images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  } 


  .start{
    width: 99.2%;
    border: 5px solid white;
  }   
  main{ 
    background-image: url(./images/banner_bg.jpg);
    width: 100%;
    height: 130vh;
    margin-top: -18%;
    background-size: contain;
    background-size: 99% 99%;
  }
  nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1;
    color: white;
    backdrop-filter:blur(10px);
  }
  a{
   padding-left: 20px;
    text-decoration: none;
    color:white;
    font-size: 13px;
  }
  span{
    font-size: 35px;
    color:yellow
  }
  .mid{
    height: 20%;
    width: 45%;
    margin: 30%;
    color:rgb(237, 231, 231);
    text-align: center;
    margin-left: 25vw;
    margin-top:-35%;
  }
  
  .s1{
    margin-top: 20%;
    color:orange; 
  }
  .s2{
    color:aqua;
  }
  h1,p{
    padding: 10px;
  }
  .mid button{
       background-color: white;
       height: 5vh;
       width:9vw;
       border-radius: 35px;
       margin-top: 4%;
  }
  .mid a{
    color:black;
    font-weight:500;
    padding: 5px;
  }
  .b1{
      height: 30%;
      width: 20%;
      text-align: center;
      margin-top: -20%;    
  }
  .p{
    font-size:15px ;
    margin:10px;
  }
  .p1{
    font-size: 15px;
    line-height: 25px;
    margin-top: 5%;
  }
  .sec{
    width:99%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    line-height: 30px;
    color:rgb(245, 245, 245);
    font-family: Verdana, sans-serif;
  }
  .b1 img{
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #f7c552;
    padding: 5%;
  }
  .a2{
    height:18%;
    width:69%;
    margin-left:15%;
    border-radius: 40px;
    background-color: #33c1cf;  
  }
  .three{
    height: 99%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:10px;
  }
  .t1{
    height: 90vh;
    width:40%;
    border: 1px solid #000000;
    background-color:#33c1cf;
    text-align: center;
  }
 .p2{
          margin-top: 3%;
          margin-left: 25%;
          width: 50%;
          text-align: justify;
          font-size: 15px;
          line-height: 23px;
          color: #fff;
 }
  h2{
    margin-top: 30%;
    margin-left: 26%;
    width: 40%;
    text-align: justify;
    color: #fff;
  }
  hr{
    width: 40%;
  margin-left: 26%;
  margin-top: 3%;
  }
  .t2{
    width: 60%;
    height: 90vh;
    display: grid;
   grid-template-columns: repeat(2,40%);
   grid-template-rows: repeat(3,200px);
   border: 1px solid black;
   border:hidden;
   background-color: rgb(239, 236, 236);
  }
.t2 div{
  padding: 20px 0 0px 20px;
}
  img{
    height: 100%;
    width: 100%;
  }
.t22{
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 24%;
  margin-top: 5%;
}
.t22 a:focus{
color:yellow;
}
.four{
  border: 1px solid black;
  height: 450px;
  width: 100%;
  background-color: #f7c552;
}
.scroll{
 width: 50%;
 margin-inline: auto;
  margin: 10% 0% 0% 27%;
  position: relative;
  height: 56%; 
  overflow-x: hidden;
}
@keyframes autoscroll{
  to{
    left:-300px;
    transform: translatex(-1500px);
  
  } 
}
.blocks{
  height: 60%;
  width: 70%;
  border: 1px solid black;
  position: absolute;
  background-color: whitesmoke;
  left:99%;
  animation-name: autoscroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.block1{
  animation-delay: calc(20s / 4 * (4 - 1) * -1);
}

.block2{
  animation-delay: calc(20s / 4 * (4 - 2) * -1);
}

.block3{
  animation-delay: calc(20s / 4 * (4 - 3) * -1);
}

.block4{
  animation-delay: calc(20s / 4 * (4 - 4) * -1);
}
.blocks .p{
  font-weight:200;
}
.blocks .b1{
  margin-left:40%;
  margin-top: -2%;
  width:30%;
}
.blocks .b2{
  margin-left:40%;
  width:20%;
}
.blocks .b3{
  margin-left:40%;
  width:20%;
}
.blocks .b4{
  margin-left:40%;
  width:50%;
}
.block1 h4{
  margin-left:43%;
  margin-top: 2%;
}
.block2 h4{
  margin-left: 42%;
  margin-top: 5%;
}
.block3 h4{
  margin-left: 40%;
}
.block4 h4{
  margin-left: 43%;
  margin-top: 5%;
}
.blocks:hover{
   transform: scale(1.1);
   transition-timing-function: ease;
}
.five{
  background-image: url(./images/blog-bg.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: row; 
}
.f1{
  height: 80vh;
  width:60%;
  border: 1px solid #000000;
}
.p4{
       margin-top: 1%;
        margin-left: 25%;
        width: 50%;
        text-align: justify;
        font-size: 15px;
        line-height: 23px;
        color: #fff;
        z-index: 1;
}
.five h2{
  margin-top: 15%;
  margin-left: 26%;
  width: 60%;
  font-size: 15px;
  text-align: justify;
  color: #fff;
}
article{
  height: 40px;
  width:50%;
  border:1px solid white;
  margin-top:5%;
  margin-left: 26%;
  background-color: white;
 
}
article a p{
  color:#000000;
  text-align: center;
  margin-top:-5%;
  font-weight: 500;
  font-size: 15px;  
}

.f2{
   width: 99%;
   border: 1px solid white;
   border: hidden;
 
}
.f22{
  border: 1px solid white;
  border: hidden;
width: 90%;
margin: 40px 30px 30px 40px;
display: block;
text-align: justify;

}
.sec1 img{
        width: 635px;
        height: 250px;
}
.z1{
  border: 1px soild rgb(255, 255, 255);
  height: 150px;
  width: 635px;
  margin: 0px;
}
.z1 a{
  color:#33c1cf;
}
.z1 .p5{
  font-size: 15px;
  opacity: 0.9;
  letter-spacing: 0.1px;
}
.six{
 
  width: 100%;
  background-color:#596065;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.x1{
  height: 40vh;
  width:32%;
margin-left:35%
}
.x1 h2{
  margin-top:10% ;
  text-align: center;
  font-size: 20px;
}
.x1 .p6{
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
}
.x2{
  width: 42%;
  background-color:#33c1cf;
  border-radius: 40px;
  padding: 4% 0% 4% 5%;
  padding-left: 4%;
  margin: auto;
}
.map iframe{
  border: 1px solid black;
  width: 99%;
}
.footer{
  width: 99%;
  margin-top: 30px;  
  display: flex;
  justify-content: space-around;
}
.tinker{
  width: 20%;
  height: 20%;
 color: white;
 font-size: 15px;
}
.location{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 15px;
}
.loc2{
  margin-top: 35px;
  margin-left:10px;
}
.icons h5{
  font-size: 15px;
  color: white;
}
.icons i{
  font-size: 20px;  
}
.more{
  font-size: 15px;
  color:white;
}
@media screen and (min-width:320px) and (max-width:576px) {
  body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    
  }
  main{ 
    width: 100%;
    height: 140vh;
  }
  .start{
    width: 99%;
  }
  nav{
    width:100%;
    height: 10vh;
    position: fixed;
    top:1px;
    color: black;
    background-color: white;
    z-index: 1;
  }
  /* .first a{
color:black;
font-size: 10px;
row-gap: 5px;
display: none;
  } */
  .first .a, span{
    text-align: center;
  }
    .mid{
    height: 100vh;
    width:90%;
    text-align: center;
    margin-left:7%;
    margin-top: -80vh;
    line-height: 25px;

  }
  .mid,.s1,.s2{
    font-size: 25px;
  }
  .mid h1{
    font-size: 23px;
  }
  .mid p{
    font-size: 15px;
  }
  .mid button{
    height: 5vh;
    width: 45%;
  }
  .b1{
    height: 30%;
    width: 99%;
    text-align: center;   
    margin-top: 5%;
}
.first{
  width: 99%;
  font-size:10PX ;
}
.p{
  font-size:15px ;
}
.sec{
  width:99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  line-height: 15px;
  color:rgb(245, 245, 245);
  font-family: Verdana, sans-serif;
  margin-top: -30% ;
  margin-bottom: 50%;
}
 hr{
  width:70%;
  margin-left: 15%;
  opacity: 0.4;
}

.b1 img{
  width: 10%;
  height: 10%;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #f7c552;
  padding: 5%;
}
.a2{
  height:4vh;
  width:60%;
  text-align: center;
  border-radius: 40px;
  padding-top: 10px;
  background-color: #33c1cf;  
}
.three{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.t1{
  width: 100%;
}
.t1 h2,.p2{
margin-left: 0%;
width: 99%;
text-align: center;
font-size: 99%;
}
.t22{
 
  height: 100vh;
  text-align: center;
  margin-left:0% ;
  margin-top: 20%;
}
.t2{
  display: flex;
  flex-direction: column;
 height: 99%;
 width:100%;
  /* width: 100vw; */
}
.t2 img{
   width: 99%;
   height: 20%;
   margin-left:-2% ;
}

  .scroll{
    width: 99%;
    margin-inline: auto;
     margin: 30% 0% 0% 0%;
     position: relative;
     height: 56%; 
     overflow-x: hidden;
   }
   .blocks{
    height: 30vh;
    width: 99%;
   }
   .five{
    display: flex;
    flex-direction: column;
   }
   .f1{
    width: 99%;
   }
   .p4{
     margin-left:0%;
     width: 90%;
     text-align: center;
     font-size: 15px;
     line-height: 25px;
     color: #fff;
}
.f12 article{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.five h2{
margin-top: 25%;
margin-left: 26%;
width: 60%;
font-size: 15px;
text-align: justify;
color: #fff;
}
.f2{
  width: 100%;
  border: 1px solid white;
  background-color: lightslategrey;

}
.f22{
 border: 1px solid white;
 border: hidden;
margin: 40px 30px 30px 60px;
display: block;
text-align: justify;

}
.sec1 img{
       width: 99%;
      height: 40%;
       margin-left: -11%;
}
.z1{
 border: 1px soild rgb(255, 255, 255);
 height: 30vh;
 width: 99%;
 margin-left: -35px;
}
.z1 .p5, p, a{
 font-size: 15px;
 opacity: 0.9;
 text-align: center;
}
.six .x1{
   margin-top: 25%;
     width: 99%;
  height: 50vh;
  margin-left: 0%;
  text-align: center;
}
.x1 h2{
  width: 99%;
  margin-left: 0%;
  margin-top:10% ;
  text-align: center;
  font-size: 20px;
}
.x2{
  width: 60%;
  text-align: center;
}
.footer{
  display: flex;
  flex-direction: column;
  gap:55px;
  text-align: center;
}
  .tinker{
    width: 99%; 
  }
  .location{
    width: 99%;
    display: flex;
    flex-direction: column;
  }
  .loc1 h5{
    font-size: 20px;
    color:black;
  }
  .more h5, .icons h5{
    font-size: 20px;
    color: black;
  }
}
@media screen and (min-width:576px) and (max-width:768px) {
  main{ 
    width: 100%;
    height: 120vh;
  }
  nav{
  width:99%;
  position:fixed;
}
.mid{
  margin-top: -70%;
  width: 99%;
  margin-left: 0%;
  font-size: 20px;
 }  
 .mid button{
  width:20%;
 }
 .sec{
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 99%;
 }
 .a2{
  height: 6vh;
  width: 50vw;
  margin-left: 25%;
 }
 .b1{
  margin-top: 20%;
  width: 99%;
 }
 .b1 .p1,.a2{
  font-size: 18px;
 }
 .b1 p{
  font-size: 20px;
 }
 .three{

  display: flex;
  flex-direction: column;
 }
 .t1{
  width: 100%;
 }
 .t1 h2,.p2,.t22 a{
  font-size: 20px;
 }
 .h2{
  margin-top: -15vh;
 }
 .t2{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 100%;
  height: 99%;
  margin-left: 0%;
 }
 .t2 img{
      height: 40%;
      width: 80%;
      margin-left: 10%;
 }
 .scroll{
  width: 90%;
   margin: 25% 0% 0% 5%;
   position: relative;
   height: 56%; 
   overflow-x: hidden;
 }
 .blocks{
  height: 25vh;
  width: 80%;
 }
.five{
  display: flex;
  flex-direction: column;
}
.f1{
  width: 100%;
  margin-left: 0%;
}
.f12 h2{
  font-size: 20px;
}
.f2{
  background-color: lightslategray;
  opacity: 0.9;
  width: 100%;
}
.f22 img, .z1{
  width: 99%;
}
hr{
  width:80%;
 margin-left: 10%;
 opacity: 0.5;
}
.six .x1{
   width: 99%;
   margin-left: 0%;
   text-align: center;
}
iframe{
 width: 100%;
}
.x2 {
  width: 35%;
height: 1px;
}
.x2 a{
  font-size: 15px;
  margin: 2% 15% 0 -8%;
}
.footer{
  display: flex;
  flex-direction: column;
  gap: 40px;
 align-items: center;
 text-align: center;
}
.tinker,.location{
  width: 99%;
}
.location{
  display: flex;
  flex-direction: column;
}
.loc1 h5,.more h5{
  font-size: 20px;
}
}


  